.body_grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
.body_grid .contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.body_grid .contenedor .header_grid, .body_grid .contenedor .footer_grid {
  background-color: #333;
  color: #fff;
  padding: 1em;
  height: auto;
  width: auto;
}
.body_grid .contenedor .main_grid {
  padding: 1em;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFE1A8;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

.btn-primary {
  background-color: #723D46;
  border-color: #723D46;
}

.btn-primary:hover {
  background-color: #723D46;
  border-color: #723D46;
}

header {
  background-color: #E37463;
  width: 100%;
  height: 140px;
}
header a {
  text-decoration: none;
}
header .logo {
  display: flex;
}
header .logo img {
  height: 70px;
  width: 200px;
  margin: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .cuenta {
  display: flex;
  align-items: end;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  header nav .cuenta {
    height: 50px;
    width: 100%;
  }
}
header nav .cuenta a {
  color: #000;
}
header nav .cuenta .crear_cuenta {
  color: #fff;
}
header nav .productos {
  display: flex;
  margin-right: 10px;
}
header nav .productos ul, header nav .productos li {
  list-style: none;
}
header nav .productos .lista {
  z-index: 10;
  display: flex;
  left: 0;
}
header nav .productos li a:hover {
  opacity: 0.6;
}
header nav .productos li ul {
  display: none;
  position: absolute;
}
header nav .productos li, header nav .productos a {
  color: #000;
  text-decoration: none;
  display: block;
}
header nav .productos li:hover > ul {
  display: block;
}
header nav .productos .list {
  left: 0;
}
header nav .productos .list .sublista {
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  left: 0;
}

footer {
  background-color: #FFE1A8;
}
footer .pie {
  display: flex;
  justify-content: space-between;
}
footer .pie .redes {
  margin-left: 50px;
}
footer .pie .redes .social {
  display: flex;
}
footer .pie .nosotros {
  margin-right: 50px;
  margin-top: 20px;
  text-align: center;
}
footer .pie .nosotros .trabaja p {
  justify-content: center;
}

form {
  background-color: #E37463;
  width: 500px;
  margin-left: 400px;
  margin-top: 100px;
  text-align: center;
  height: 450px;
}
@media (max-width: 576px) {
  form {
    margin-left: 80px;
    margin-top: 50px;
    width: 50%;
  }
}
form .logo_cuenta {
  display: flex;
  justify-content: center;
  height: 200px;
}
form .logo_cuenta .logo_regitro {
  margin-bottom: 100px;
}
form .registro {
  text-align: center;
}
form .formulario {
  display: flex;
  justify-content: center;
}

main {
  background-color: #FFE1A8;
}
main .somos {
  text-align: center;
}
main .somos a {
  color: #fff;
  text-decoration: none;
}
main .section1 {
  flex-direction: column;
  background-color: #FFE1A8;
}
main .section1 h1 {
  text-align: center;
}
main .section1 .card {
  display: flex;
  flex-direction: row;
  background-color: #FFE1A8;
  border: none;
}
@media (max-width: 576px) {
  main .section1 .card {
    flex-direction: column;
    align-items: center;
  }
}
main .section1 .card .article1 {
  border: 1px solid #000;
  width: 25%;
  margin: 1%;
  background-color: #fff;
}
@media (max-width: 576px) {
  main .section1 .card .article1 {
    width: 50%;
  }
}
main .section1 .card .article1 .taza_argentina {
  margin-top: 20px;
  margin-left: 50px;
}
@media (max-width: 576px) {
  main .section1 .card .article1 .taza_argentina {
    margin: 0;
  }
}
main .section1 .card .article1 .margin-chico {
  margin-top: 50px;
  margin-left: 50px;
}
@media (max-width: 576px) {
  main .section1 .card .article1 .margin-chico {
    margin: 0;
  }
}
main .section1 .card .article1 .margin-producto {
  margin-top: 30px;
  margin-left: 30px;
}
@media (max-width: 576px) {
  main .section1 .card .article1 .margin-producto {
    margin: 0;
  }
}
main .section1 .card .article1 .boca {
  margin-top: 30px;
  margin-left: 50px;
}
@media (max-width: 576px) {
  main .section1 .card .article1 .boca {
    margin: 0;
  }
}
main .section1 .card .article1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
main .section1 .card .article1 div .productos1 b {
  font-size: 17px;
}
@media (max-width: 576px) {
  main .section1 .card .article1 div .productos1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
main .section1 .card .article1 div .ataud {
  margin-top: 50px;
}
@media (max-width: 576px) {
  main .section1 .card .article1 div .ataud {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }
}
main .section1 .card .article1 div .ofertas {
  margin-top: 40px;
}
@media (max-width: 576px) {
  main .section1 .card .article1 div .ofertas {
    margin: 0;
  }
}
main .section1 .card .article1 img {
  max-width: 200px;
}
main .section1 .card .article1 img:hover {
  opacity: 0.6;
}
@media (max-width: 576px) {
  main .section1 .card .article1 img {
    max-width: 100%;
  }
}
main .section2 {
  flex-direction: column;
  background-color: #FFE1A8;
}
main .section2 h2 {
  text-align: center;
}
main .section2 .card2 {
  display: flex;
  flex-direction: row;
  background-color: #FFE1A8;
  border: none;
  justify-content: space-between;
}
@media (max-width: 576px) {
  main .section2 .card2 {
    flex-direction: column;
    align-items: center;
  }
}
main .section2 .card2 .article2 {
  border: 1px solid #000;
  width: 25%;
  height: 300px;
  margin: 1%;
  background-color: #fff;
}
@media (max-width: 576px) {
  main .section2 .card2 .article2 {
    width: 50%;
  }
}
main .section2 .card2 .article2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
main .section2 .card2 .article2 div .productos2 b {
  font-size: 17px;
}
@media (max-width: 576px) {
  main .section2 .card2 .article2 div .productos2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
main .section2 .card2 .article2 div .taza {
  margin-top: 50px;
}
@media (max-width: 576px) {
  main .section2 .card2 .article2 div .taza {
    margin: 50px;
  }
}
main .section2 .card2 .article2 div .duki {
  margin-top: 30px;
}
@media (max-width: 576px) {
  main .section2 .card2 .article2 div .duki {
    margin-top: 0;
  }
}
main .section2 .card2 .article2 img {
  max-width: 200px;
}
main .section2 .card2 .article2 img:hover {
  opacity: 0.6;
}
@media (max-width: 576px) {
  main .section2 .card2 .article2 img {
    max-width: 100%;
  }
}
main .sucursales {
  margin-left: 400px;
  width: 500px;
}
@media (max-width: 576px) {
  main .sucursales {
    width: 50%;
    height: 10%;
    margin-left: 80px;
  }
}
main .sucursales h1 {
  text-align: center;
}
main .sucursales .sucursal div {
  display: flex;
  flex-wrap: wrap;
}
main .sucursales .sucursal div p {
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
