.body_grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.header_grid{
  background-color: aqua;
}
.nav_grid{
  background-color: pink;
}
.main_grid{
  background-color: red;
}
.footer_grid{
  background-color: blue;
}
body {
  margin: 0;
  background-color: #FFE1A8;
}

header {
  background-color: #E37463;
  width: 100%;
  height: 140px;
}
.logo img {
  height: 70px;
  width: 200px;
  margin: 10px;
}

.cuenta {
  display: flex;
  align-items: end;
  margin-right: 10px;
  margin-bottom: 10px;
}
.crear_cuenta{
  color: #fff;
}
.btn-primary{
  background-color: #723D46;
  border-color: #723D46;
}
.btn-primary:hover{
  background-color: #723D46;
  border-color: #723D46;
}
.productos {
  display: flex;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #FFE1A8;
  border: none;
}

article.article1 {
  border: 1px solid black;
  width: calc(100%/4);
  margin: 1%;
  background-color: #fff;
}

.article1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.card img {
  max-width: 200px;
}

article img:hover {
  opacity: 0.6;
}
.section1 {
  flex-direction: column;
  background-color: #FFE1A8;
}
.section1 h3 {
  text-align: center;
}
.card2 {
  display: flex;
  flex-direction: row;
  background-color: #FFE1A8;
  border: none;
  justify-content: space-between;
}
article.article2 {
  border: 1px solid black;
  width: calc(100%/4);
  height: 300px;
  margin: 1%;
  background-color: #fff;
}

.article2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.card2 img {
  max-width: 200px;
}
.section2 {
  flex-direction: column;
  background-color: #FFE1A8;
}

.section2 h3 {
  text-align: center;
}
ul,
li {
  list-style: none;
}
.lista li ul {
  display: none;
  position: absolute;
}
.lista li,
a {
  color: #000;
  text-decoration: none;
  display: block;
}

.lista li:hover>ul {
  display: block;
}

.lista li a:hover {
  opacity: 0.6;
}
.list{
  left: 0;
}
.lista {
  z-index: 10;
  display: flex;
  left: 0;
}

.sublista {
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  left: 0;
}
.pie{
  display: flex;
  justify-content: space-between;
}
.redes{
margin-left: 50px;
}
.nosotros{
  text-align: center;
}
.social{
  display: flex;
}
.nosotros{
 margin-right: 50px;
 margin-top: 20px;
}
.trabaja p{
  justify-content: center;
}
.ataud{
margin-top: 50px;
}
.ofertas{
  margin-top: 40px;
 }
.taza{
  margin-top: 50px;
}
.duki{
  margin-top: 30px;
}
.jarro{
  margin-left: 50px;
  margin-top: 50px;
}
.taza_argentina{
  margin-top: 20px;
  margin-left: 50px;
}
.almohadon_pintar{
  margin-top: 50px;
  margin-left: 50px;
}
.margin-prooducto{
  margin-top: 30px;
  margin-left: 50px;
}
.logo_cuenta{
  display: flex;
  justify-content: center;
  height: 200px;
}
.registro{
  text-align: center;
}
.formulario{
  display: flex;
  justify-content: center;
}
form{
  background-color: #E37463;
  width: 500px;
  margin-left: 400px;
  margin-top: 100px;
  text-align: center;
  height: 450px;
}
.logo_regitro{
  margin-bottom: 100px;
}
.somos{
  text-align: center;
}
@media (max-width:576px){
.card{
  flex-direction: column;
 align-items: center;
}
article.article1{
 width: 50%;
}
.card2{
  flex-direction: column;
  align-items: center;
}
article.article2{
  width: 50%;
}
.productos1{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ataud{
  display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
form{
  margin-left: 140px;
  margin-top: 50px;
  width: 50%;
}

}