.body_grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.header_grid{
  background-color: aqua;
}
.nav_grid{
  background-color: pink;
}
.main_grid{
  background-color: red;
}
.footer_grid{
  background-color: blue;
}
@media (max-width:576px){
form{
  margin-left: 140px;
  margin-top: 50px;
  width: 50%;
}

}