form{
    background-color: map-get($colores, secundario);
    width: 500px;
    margin-left: 400px;
    margin-top: 100px;
    text-align: center;
    height: 450px;
    @include media-query-mobile(){
      margin-left: 80px;
      margin-top: 50px;
      width: 50%;
    }
    .logo_cuenta{
        display: flex;
        justify-content: center;
        height: 200px;
        .logo_regitro{
            margin-bottom: 100px;
          }
      }
      .registro{
        text-align: center;
      }
      .formulario{
        display: flex;
        justify-content: center;
      }
  }