header{
    background-color: map-get($colores, secundario );
    width: 100%;
    height: 140px;
    a{
      text-decoration: none;
    }
    .logo {
      display: flex;
      img{
        height: 70px;
        width: 200px;
        margin: 10px;
      }
    }
    nav{
      display: flex;
      justify-content: space-between;
      .cuenta {
          display: flex;
          align-items: end;
          margin-right: 10px;
          margin-bottom: 10px;
          @include media-query-mobile(){
            height: 50px;
            width: 100%;
          }
          a{
            color: map-get($colores, cuarto );
          }
          .crear_cuenta{
              color: map-get($colores, quinto);
            } 
        }
        .productos {
          display: flex;
          margin-right: 10px;
            ul, li {
              list-style: none;
            }
            .lista {
              z-index: 10;
              display: flex;
              left: 0;
            }
              li{
                a:hover{
                  opacity: 0.6;
                }
                ul{
                  display: none;
              position: absolute;
            }
            } 
              li, a {
                color: map-get($colores, cuarto);
                text-decoration: none;
                display: block;
              }
              li:hover>ul {
                display: block;
              }       
              .list{
                left: 0;
            
                .sublista {
                  background-color: map-get($colores,quinto );
                  border: 1px solid;
                  border-radius: 5px;
                  display: flex;
                  left: 0;
                
                }
     
                }
              }
              }
           }
        



